MARIAMBIKA_APP_NAME=
MARIAMBIKA_APP_DESCRIPTION=
MARIAMBIKA_APP_VERSION=
MARIAMBIKA_APP_ENVIRONMENT=

MARIAMBIKA_SERVER_NAME=
MARIAMBIKA_SERVER_PATH=
MARIAMBIKA_SERVER_HOST=
MARIAMBIKA_SERVER_PORT=
MARIAMBIKA_SERVER_RELOAD=
MARIAMBIKA_SERVER_BASE_API=

MARIAMBIKA_DATABASE_LOCAL_NAME=
MARIAMBIKA_DATABASE_LOCAL_URL=
MARIAMBIKA_DATABASE_PRODUCTION_NAME=
MARIAMBIKA_DATABASE_PRODUCTION_URL=
MARIAMBIKA_DATABASE_AUTO_COMMIT=
MARIAMBIKA_DATABASE_AUTO_FLUSH=
MARIAMBIKA_DATABASE_ECHO_LOGS=

MARIAMBIKA_REFRESH_TOKEN_SECRET_KEY=
MARIAMBIKA_REFRESH_TOKEN_EXPIRES_AT=
MARIAMBIKA_ACCESS_TOKEN_SECRET_KEY=
MARIAMBIKA_ACCESS_TOKEN_EXPIRES_IN=
MARIAMBIKA_JWT_TOKEN_ALGORITHM=

MARIAMBIKA_LOCAL_COOKIE_SECURE=
MARIAMBIKA_PRODUCTION_COOKIE_SECURE=
MARIAMBIKA_LOCAL_COOKIE_SAMESITE=
MARIAMBIKA_PRODUCTION_COOKIE_SAMESITE=

